{% include 'user_header.html' %}
	<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="/static/assets/images/img2.jpg" alt="">
                <div class="text-content">
                  <h5 style="font-size: 80px"><b> Welcome User </b></h5>
                  <!-- <h5>New Bootstrap Template</h5> -->
                  <!-- <a href="#" class="main-stroked-button">Learn More</a>
                  <a href="#" class="main-filled-button">Get It Now</a> -->
                </div>
            </div>
          </div>
         
          
          <!-- // Item -->
        </div>
</div>
{% include 'footer.html' %}